.gsd-keyboard.settings-ported
Code - Insiders/
Cursor/
GDevelop 5/
JetBrains/
Kvantum/
MongoDB Compass/
QtProject.conf
Raspberry Pi/
Slack/
VSCodium/
argocd/
balena-etcher-electron/
bpytop/
btop/
cef_user_data/
chromium/
cni/
containers/
copyq/
dconf/
dlv/
enchant/
evolution/
fish/
flameshot/
freerdp/
ghb/
git/
glow/
go/
google-chrome/
gtk-2.0/
gtk-3.0/
gtk-4.0/
inkscape/
io.datasette.llm/
island/
k9s/
karboncalligraphyrc
keepassxc/
kritadisplayrc
kritarc
libfm/
libreoffice/
menus/
mimeapps.list
obs-studio/
pavucontrol.ini
pcmanfm/
pipewire/
pulse/
qBittorrent/
qalculate/
rclone/
remmina/
rofi/
systemd/
tera/
user-dirs.dirs
user-dirs.locale
uv/
virt-viewer/
vlc/
wireplumber/
xdg-terminals.list
yelp/

